.PokemonInformation {
  color: #48e08d;
  border: 1px solid grey;
  text-align: center;
  padding: 10px;
  width: 100%;
  border-radius: 2px;
  background-color: black;
}
/* 
.Row {
  color: black;
  align-items: left;
  color: red;
  display: inline;
} */
/* .Card {
  background-color: black;
} */
/* .Border {
  box-sizing: border-box;
  display: inline;
} */

/* @media (min-width: 500px) {
  .PokemonInformation {
    flex-direction: row;
    display: flex;
    flex-direction: row;
    border: 20px solid red;
  }
} */

.Row {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0px auto;
}

@media (min-width: 500px) {
  .Row {
    width: 50%;
  }
}

.Image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 14rem;
}
