.Table {
  color: white;
  width: 100%;
  /* padding: 20px; */
  /* text-align: center; */
  border: none;
  padding: 20px;
  /* border-radius: 5px; */
  /* margin: 20px, auto; */
  font-size: inherit;
  background-color: black;
  color: #ced4da;
}

.Winner {
  background: green;
}
.Tie {
}
.Loss {
}

h3 {
  color: #48e08d;
}

/* @media (min-width: 500px) and (min-height: 400px) {
  .Burger {
    width: 350px;
    height: 300px;
  } */
