.FormPage {
  outline: none;
  border: 1px solid #ccc;
  background-color: black;
  font: inherit;
  width: 100%;
}
.Input {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  /* text-align: center; */
}
/* maybe center the button */
